In [1]:
!pip install -r requirements.txt

Requirement already satisfied: CFEDemands>=0.4.1 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 5)) (0.4.1)
Requirement already satisfied: ConsumerDemands in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 7)) (0.3.dev0)
Requirement already satisfied: gspread>=4.0.1 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 10)) (4.0.1)
Requirement already satisfied: matplotlib>=3.3.4 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 13)) (3.4.3)
Requirement already satisfied: numpy>=1.21.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 17)) (1.21.5)
Requirement already satisfied: oauth2client>=4.1.3 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 20)) (4.1.3)
Requirement already satisfied: pandas>=1.3.5 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 25)) (1.3.5)
Requirement already satisfied: plotly>=5.1.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 28)) (5.2.1)
Requirement already satisfied: eep153_tools>=0.11 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 30)) (0.11)
Requirement already satisfied: gnupg in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 31)) (2.3.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /opt/conda/lib/python3.9/site-packages (from gspread>=4.0.1->-r requirements.txt (line 10)) (0.4.5)
Requirement already satisfied: google-auth>=1.12.0 in /opt/conda/lib/python3.9/site-packages (from gspread>=4.0.1->-r requirements.txt (line 10)) (2.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 13)) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 13)) (8.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 13)) (2.8.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 13)) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.9/site-packages (from matplotlib>=3.3.4->-r requirements.txt (line 13)) (0.11.0)
Requirement already satisfied: pyasn1>=0.1.7 in /opt/conda/lib/python3.9/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 20)) (0.4.8)
Requirement already satisfied: six>=1.6.1 in /opt/conda/lib/python3.9/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 20)) (1.16.0)
Requirement already satisfied: rsa>=3.1.4 in /opt/conda/lib/python3.9/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 20)) (4.8)
Requirement already satisfied: httplib2>=0.9.1 in /opt/conda/lib/python3.9/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 20)) (0.20.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /opt/conda/lib/python3.9/site-packages (from oauth2client>=4.1.3->-r requirements.txt (line 20)) (0.2.8)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas>=1.3.5->-r requirements.txt (line 25)) (2021.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.9/site-packages (from plotly>=5.1.0->-r requirements.txt (line 28)) (8.0.1)
Requirement already satisfied: psutil>=1.2.1 in /opt/conda/lib/python3.9/site-packages (from gnupg->-r requirements.txt (line 31)) (5.9.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.9/site-packages (from google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (1.3.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from google-auth>=1.12.0->gspread>=4.0.1->-r requirements.txt (line 10)) (5.0.0)
Requirement already satisfied: requests>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (2.26.0)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (2019.11.28)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (2.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread>=4.0.1->-r requirements.txt (line 10)) (1.25.7)

### From Sheet to DataFrame

We begin by defining a dictionary that contains the spreadsheet key.

In [2]:
nigeria_data = '17L5cDhXRLNAckP3JvBLTLSYIguFqP2ebMvQLH96c0n4'
nigeria_production = '1kG_fVBmj9EEF9LOwxN30HBxkQENOoWeQjVPYzMJe3b4-8DA'
nigeria_consumption = '1Gzu0g2Tjp0heKYk-r5l7gVJk93k2_mHgWOtZMVkqSGI'

With the spreadsheet defined, grab it and define a couple of
dataframes.

In [3]:
import pandas as pd
import numpy as np
import sys
from eep153_tools.sheets import read_sheets

expend = read_sheets(nigeria_data,sheet='Expenditures')
expend.columns.name = 'i'
                 
# Change 'ICRISAT' to key of your own sheet in Sheets, above
hh_char = read_sheets(nigeria_data,sheet="HH Characteristics")
hh_char.columns.name = 'k'

# Assume a single market: (Comment this out to make each village its own market)
hh_char['m'] = 1
expend['m'] = 1

# x may have duplicate columns
expend = expend.groupby('i',axis=1).sum()
expend = expend.apply(lambda x: pd.to_numeric(x,errors='coerce'))
expend = expend.replace(0,np.nan)

# Take logs of expenditures; call this y
log_expend = np.log(expend.set_index(['j','t','m']))
           
hh_char.set_index(['j','t','m'],inplace=True)

Key available for students@eep153.iam.gserviceaccount.com.
Key available for students@eep153.iam.gserviceaccount.com.

Sort the new Data Frame in order to group by year.

In [4]:
expend = expend.set_index(['t','j','m']).sort_index()
expend = expend.replace(0.0,np.nan) # Replace zeroes with np.nan
expend

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10001  1                      NaN              280.0         NaN     NaN
     10002  1                      NaN              280.0         NaN     NaN
     10003  1                      NaN              180.0         NaN     NaN
     10004  1                      NaN              180.0         NaN     NaN
     10006  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379146 1                      NaN             1100.0         NaN     NaN
     379148 1                    100.0                NaN         NaN     NaN
     379151 1                      NaN              900.0         NaN     NaN
     379154 1                    200.0             1200.0         NaN     NaN
     379155 1                    100.0              950.0         NaN     NaN

i              Avocado pear  Baby milk powder  Bananas    Beef  \
t    j      m
2010 10001  1           NaN               NaN    200.0   500.0
     10002  1           NaN               NaN    180.0  1200.0
     10003  1           NaN               NaN    100.0   500.0
     10004  1           NaN               NaN    100.0   500.0
     10006  1           NaN               NaN    300.0   300.0
...                     ...               ...      ...     ...
2018 379146 1           NaN               NaN      NaN     NaN
     379148 1           NaN               NaN      NaN   700.0
     379151 1           NaN               NaN    500.0     NaN
     379154 1           NaN               NaN      NaN  1300.0
     379155 1           NaN               NaN      NaN  1400.0

i              Beer (local and imported)  Biscuits  ...  Sweet Potatoes  \
t    j      m                                       ...
2010 10001  1                      540.0       NaN  ...           150.0
     10002  1                     2000.0       NaN  ...           200.0
     10003  1                        NaN       NaN  ...           200.0
     10004  1                        NaN       NaN  ...             NaN
     10006  1                        NaN       NaN  ...             NaN
...                                  ...       ...  ...             ...
2018 379146 1                        NaN       NaN  ...             NaN
     379148 1                        NaN       NaN  ...             NaN
     379151 1                        NaN       NaN  ...             NaN
     379154 1                        NaN       NaN  ...             NaN
     379155 1                        NaN       NaN  ...             NaN

i                Tea  Tomato puree(canned)  Tomatoes  Watermelon  Wheat flour  \
t    j      m
2010 10001  1    NaN                 150.0     150.0         NaN          NaN
     10002  1  140.0                 240.0     120.0         NaN          NaN
     10003  1   60.0                  90.0     100.0         NaN          NaN
     10004  1   30.0                  60.0     100.0         NaN          NaN
     10006  1  650.0                   NaN     400.0         NaN          NaN
...              ...                   ...       ...         ...          ...
2018 379146 1    NaN                   NaN       NaN       500.0          NaN
     379148 1    NaN                  60.0     200.0       150.0          NaN
     379151 1    NaN                 150.0     600.0       600.0        750.0
     379154 1    NaN                   NaN     100.0       200.0          NaN
     379155 1    NaN                   NaN     300.0       200.0          NaN

i              White beans  Wild game meat  Yam flour  Yam-roots
t    j      m
2010 10001  1        600.0             NaN        NaN     1500.0
     10002  1        400.0             NaN        NaN     1200.0
     10003  1        100.0             NaN        NaN      400.0
     10004  1        100.0             NaN        NaN      400.0
     10006  1          NaN             NaN        NaN      400.0
...                    ...             ...        ...        ...
2018 379146 1          NaN             NaN        NaN     1800.0
     379148 1          NaN             NaN        NaN     1600.0
     379151 1       1600.0             NaN        NaN     3500.0
     379154 1          NaN             NaN        NaN      650.0
     379155 1          NaN             NaN        NaN     2500.0

[19141 rows x 124 columns]

# People per Household, Total Expenditures, and Expenditures per Capita

In [5]:
people = hh_char.sum(axis=1)
num_people = pd.DataFrame(people)
num_people = num_people.rename(columns={0:'People per HH'})
num_people = num_people.reset_index().set_index(['t','j','m']).sort_index()
num_people

               People per HH
t    j      m
2010 10001  1              7
     10002  1              7
     10003  1              6
     10004  1              3
     10006  1              3
...                      ...
2018 379146 1              4
     379148 1              1
     379151 1              5
     379154 1              2
     379155 1              4

[19249 rows x 1 columns]

In [6]:
total_expend = expend.iloc[:, 0:124].sum(axis=1)
total = pd.DataFrame(total_expend)
total = total.rename(columns={0:'Total Expenditures'})
total

               Total Expenditures
t    j      m
2010 10001  1             20225.0
     10002  1             15365.0
     10003  1              4675.0
     10004  1              4465.0
     10006  1              7565.0
...                           ...
2018 379146 1             31100.0
     379148 1              6410.0
     379151 1             20540.0
     379154 1             22650.0
     379155 1              7550.0

[19141 rows x 1 columns]

In [7]:
expend['Total Expenditures'] = total['Total Expenditures']
expend['People per HH'] = num_people['People per HH']
expend['Expenditures per capita'] = expend['Total Expenditures'] / expend['People per HH']
expend

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10001  1                      NaN              280.0         NaN     NaN
     10002  1                      NaN              280.0         NaN     NaN
     10003  1                      NaN              180.0         NaN     NaN
     10004  1                      NaN              180.0         NaN     NaN
     10006  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379146 1                      NaN             1100.0         NaN     NaN
     379148 1                    100.0                NaN         NaN     NaN
     379151 1                      NaN              900.0         NaN     NaN
     379154 1                    200.0             1200.0         NaN     NaN
     379155 1                    100.0              950.0         NaN     NaN

i              Avocado pear  Baby milk powder  Bananas    Beef  \
t    j      m
2010 10001  1           NaN               NaN    200.0   500.0
     10002  1           NaN               NaN    180.0  1200.0
     10003  1           NaN               NaN    100.0   500.0
     10004  1           NaN               NaN    100.0   500.0
     10006  1           NaN               NaN    300.0   300.0
...                     ...               ...      ...     ...
2018 379146 1           NaN               NaN      NaN     NaN
     379148 1           NaN               NaN      NaN   700.0
     379151 1           NaN               NaN    500.0     NaN
     379154 1           NaN               NaN      NaN  1300.0
     379155 1           NaN               NaN      NaN  1400.0

i              Beer (local and imported)  Biscuits  ...  Tomatoes  Watermelon  \
t    j      m                                       ...
2010 10001  1                      540.0       NaN  ...     150.0         NaN
     10002  1                     2000.0       NaN  ...     120.0         NaN
     10003  1                        NaN       NaN  ...     100.0         NaN
     10004  1                        NaN       NaN  ...     100.0         NaN
     10006  1                        NaN       NaN  ...     400.0         NaN
...                                  ...       ...  ...       ...         ...
2018 379146 1                        NaN       NaN  ...       NaN       500.0
     379148 1                        NaN       NaN  ...     200.0       150.0
     379151 1                        NaN       NaN  ...     600.0       600.0
     379154 1                        NaN       NaN  ...     100.0       200.0
     379155 1                        NaN       NaN  ...     300.0       200.0

i              Wheat flour  White beans  Wild game meat  Yam flour  Yam-roots  \
t    j      m
2010 10001  1          NaN        600.0             NaN        NaN     1500.0
     10002  1          NaN        400.0             NaN        NaN     1200.0
     10003  1          NaN        100.0             NaN        NaN      400.0
     10004  1          NaN        100.0             NaN        NaN      400.0
     10006  1          NaN          NaN             NaN        NaN      400.0
...                    ...          ...             ...        ...        ...
2018 379146 1          NaN          NaN             NaN        NaN     1800.0
     379148 1          NaN          NaN             NaN        NaN     1600.0
     379151 1        750.0       1600.0             NaN        NaN     3500.0
     379154 1          NaN          NaN             NaN        NaN      650.0
     379155 1          NaN          NaN             NaN        NaN     2500.0

i              Total Expenditures  People per HH  Expenditures per capita
t    j      m
2010 10001  1             20225.0              7              2889.285714
     10002  1             15365.0              7              2195.000000
     10003  1              4675.0              6               779.166667
     10004  1              4465.0              3              1488.333333
     10006  1              7565.0              3              2521.666667
...                           ...            ...                      ...
2018 379146 1             31100.0              4              7775.000000
     379148 1              6410.0              1              6410.000000
     379151 1             20540.0              5              4108.000000
     379154 1             22650.0              2             11325.000000
     379155 1              7550.0              4              1887.500000

[19141 rows x 127 columns]

In [8]:
expend.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 19141 entries, (2010, 10001, 1) to (2018, 379155, 1)
Columns: 127 entries, (Cocoyam, Spinach, etc) to Expenditures per capita
dtypes: float64(126), int64(1)
memory usage: 18.9 MB

# Putting into Quartiles

In [9]:
def one_year(df, year):
    new_df = df.loc[[year]]
    return new_df

def quartiles_by_te(df, year, quartile):
    # Selecting out one year, sorting by TE, then filtering out the HHs that spent nothing
    one_year_df = one_year(df, year)
    one_year_df = one_year_df.reset_index().sort_values('Total Expenditures', axis=0).replace(0,np.nan)
    one_year_df = one_year_df.dropna(axis=0, how='any', subset=['Total Expenditures'])
    
    # Number of rows for each quartile
    total_rows = len(one_year_df)
    rows_per_qtr = round(total_rows / 4)
    
    # Selecting the necessary rows for each quartile
    if quartile == 1:
        return one_year_df.iloc[0:rows_per_qtr-1]
    else:
        first_row = (quartile-1) * rows_per_qtr
        last_row = (quartile * rows_per_qtr) - 1
        return one_year_df.iloc[first_row:last_row]
    
def quartiles_by_epc(df, year, quartile):
    # Selecting out one year, sorting by EPC, then filtering out the HHs that spent nothing
    one_year_df = one_year(df, year)
    one_year_df = one_year_df.reset_index().sort_values('Expenditures per capita', axis=0).replace(0,np.nan)
    one_year_df = one_year_df.dropna(axis=0, how='any', subset=['Expenditures per capita'])
    
    # Number of rows for each quartile
    total_rows = len(one_year_df)
    rows_per_qtr = round(total_rows / 4)
    
    # Selecting the necessary rows for each quartile
    if quartile == 1:
        return one_year_df.iloc[0:rows_per_qtr-1]
    else:
        first_row = (quartile-1) * rows_per_qtr
        last_row = (quartile * rows_per_qtr) - 1
        return one_year_df.iloc[first_row:last_row]

In [10]:
one_year(expend, 2012)

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2012 10001  1                      NaN              360.0         NaN     NaN
     10002  1                      NaN              150.0         NaN     NaN
     10003  1                      NaN              120.0         NaN     NaN
     10004  1                      NaN                NaN         NaN     NaN
     10006  1                      NaN              120.0         NaN     NaN
...                                ...                ...         ...     ...
     370036 1                      NaN                NaN         NaN     NaN
     370037 1                      NaN                NaN         NaN     NaN
     370038 1                      NaN                NaN         NaN     NaN
     370039 1                      NaN                NaN         NaN     NaN
     370040 1                      NaN                NaN         NaN     NaN

i              Avocado pear  Baby milk powder  Bananas    Beef  \
t    j      m
2012 10001  1           NaN               NaN    100.0     NaN
     10002  1         150.0               NaN    200.0   360.0
     10003  1           NaN               NaN    100.0  1200.0
     10004  1           NaN               NaN    100.0  1200.0
     10006  1           NaN               NaN    400.0   400.0
...                     ...               ...      ...     ...
     370036 1           NaN               NaN      NaN   800.0
     370037 1           NaN               NaN      NaN     NaN
     370038 1           NaN               NaN      NaN     NaN
     370039 1           NaN               NaN      NaN  2000.0
     370040 1           NaN               NaN      NaN     NaN

i              Beer (local and imported)  Biscuits  ...  Tomatoes  Watermelon  \
t    j      m                                       ...
2012 10001  1                      660.0       NaN  ...      60.0         NaN
     10002  1                      400.0       NaN  ...     120.0         NaN
     10003  1                        NaN      30.0  ...     150.0         NaN
     10004  1                        NaN      20.0  ...     150.0         NaN
     10006  1                        NaN      40.0  ...     150.0         NaN
...                                  ...       ...  ...       ...         ...
     370036 1                        NaN       NaN  ...       NaN         NaN
     370037 1                        NaN       NaN  ...       NaN         NaN
     370038 1                        NaN       NaN  ...       NaN         NaN
     370039 1                        NaN       NaN  ...       NaN         NaN
     370040 1                        NaN       NaN  ...       NaN         NaN

i              Wheat flour  White beans  Wild game meat  Yam flour  Yam-roots  \
t    j      m
2012 10001  1          NaN        560.0             NaN        NaN     1000.0
     10002  1          NaN        700.0             NaN        NaN     1000.0
     10003  1          NaN        300.0             NaN        NaN      300.0
     10004  1          NaN        420.0             NaN        NaN      300.0
     10006  1          NaN          NaN             NaN        NaN      200.0
...                    ...          ...             ...        ...        ...
     370036 1          NaN        350.0             NaN        NaN      700.0
     370037 1          NaN        250.0             NaN        NaN        NaN
     370038 1          NaN        150.0             NaN        NaN        NaN
     370039 1          NaN        250.0             NaN        NaN        NaN
     370040 1          NaN          NaN             NaN        NaN        NaN

i              Total Expenditures  People per HH  Expenditures per capita
t    j      m
2012 10001  1             11600.0              8              1450.000000
     10002  1             13315.0              8              1664.375000
     10003  1              8560.0              6              1426.666667
     10004  1              8360.0              5              1672.000000
     10006  1              6390.0              4              1597.500000
...                           ...            ...                      ...
     370036 1              4800.0              6               800.000000
     370037 1              2380.0              5               476.000000
     370038 1               850.0              5               170.000000
     370039 1              7600.0              8               950.000000
     370040 1              1360.0              6               226.666667

[4759 rows x 127 columns]

In [11]:
first_qtr_by_te_2010 = quartiles_by_te(expend, 2010, 1)
first_qtr_by_te_2010
#te is total expenditure

i,t,j,m,"(Cocoyam, Spinach, etc)",Agricultural eggs,Animal fat,Apples,Avocado pear,Baby milk powder,Bananas,...,Tomatoes,Watermelon,Wheat flour,White beans,Wild game meat,Yam flour,Yam-roots,Total Expenditures,People per HH,Expenditures per capita
2659,2010,200065,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,6,11.666667
899,2010,70086,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1,100.000000
4633,2010,350063,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,4,25.000000
3394,2010,260068,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,4,25.000000
2944,2010,220071,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815,2010,140071,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,140.0,NaN,NaN,600.0,1970.0,1,1970.000000
1631,2010,120055,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,NaN,NaN,180.0,NaN,NaN,NaN,1970.0,4,492.500000
602,2010,50023,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.0,NaN,NaN,NaN,NaN,NaN,NaN,1970.0,5,394.000000
4145,2010,310043,1,50.0,NaN,NaN,NaN,NaN,NaN,NaN,...,120.0,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,12,165.000000
213,2010,20107,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.0,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,5,396.000000

In [12]:
Q1_10 = quartiles_by_epc(expend, 2010, 1)
Q1_12 = quartiles_by_epc(expend, 2012, 1)
Q1_15 = quartiles_by_epc(expend, 2015, 1)
Q1_18 = quartiles_by_epc(expend, 2018, 1)
Q1 = pd.concat([Q1_10, Q1_12, Q1_15, Q1_18]).reset_index().drop(columns=['index']).set_index(['t', 'j', 'm']).sort_values(['t','j'])
Q1 = Q1.drop(columns=['Total Expenditures', 'People per HH', 'Expenditures per capita']) 
Q1
#epc is expenditure per capita

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10013  1                      NaN                NaN         NaN     NaN
     10022  1                      NaN                NaN         NaN     NaN
     10063  1                      NaN                NaN         NaN     NaN
     10066  1                      NaN                NaN         NaN     NaN
     10069  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379090 1                      NaN                NaN         NaN     NaN
     379092 1                      NaN                NaN         NaN     NaN
     379094 1                      NaN                NaN         NaN     NaN
     379096 1                      NaN                NaN         NaN     NaN
     379127 1                      NaN                NaN         NaN     NaN

i              Avocado pear  Baby milk powder  Bananas   Beef  \
t    j      m
2010 10013  1           NaN               NaN    100.0  400.0
     10022  1           NaN               NaN    150.0    NaN
     10063  1           NaN               NaN      NaN    NaN
     10066  1           NaN               NaN      NaN  300.0
     10069  1           NaN               NaN      NaN    NaN
...                     ...               ...      ...    ...
2018 379090 1           NaN               NaN      NaN  500.0
     379092 1           NaN               NaN      NaN    NaN
     379094 1           NaN               NaN      NaN    NaN
     379096 1           NaN               NaN      NaN    NaN
     379127 1           NaN               NaN    150.0    NaN

i              Beer (local and imported)  Biscuits  ...  Sweet Potatoes   Tea  \
t    j      m                                       ...
2010 10013  1                        NaN       NaN  ...             NaN  30.0
     10022  1                        NaN       NaN  ...             NaN   NaN
     10063  1                        NaN       NaN  ...             NaN   NaN
     10066  1                        NaN       NaN  ...             NaN   NaN
     10069  1                        NaN       NaN  ...             NaN   NaN
...                                  ...       ...  ...             ...   ...
2018 379090 1                        NaN       NaN  ...             NaN   NaN
     379092 1                        NaN       NaN  ...             NaN  50.0
     379094 1                        NaN     120.0  ...             NaN   NaN
     379096 1                        NaN       NaN  ...             NaN   NaN
     379127 1                        NaN       NaN  ...             NaN   NaN

i              Tomato puree(canned)  Tomatoes  Watermelon  Wheat flour  \
t    j      m
2010 10013  1                  60.0     100.0         NaN          NaN
     10022  1                  30.0      50.0         NaN          NaN
     10063  1                  35.0     100.0         NaN          NaN
     10066  1                  35.0     100.0         NaN          NaN
     10069  1                   NaN     100.0         NaN          NaN
...                             ...       ...         ...          ...
2018 379090 1                   NaN     200.0         NaN          NaN
     379092 1                   NaN       NaN         NaN          NaN
     379094 1                   NaN     250.0         NaN          NaN
     379096 1                   NaN     300.0         NaN          NaN
     379127 1                 350.0       NaN       200.0          NaN

i              White beans  Wild game meat  Yam flour  Yam-roots
t    j      m
2010 10013  1        100.0             NaN        NaN      200.0
     10022  1        200.0             NaN        NaN        NaN
     10063  1          NaN             NaN        NaN        NaN
     10066  1        100.0             NaN        NaN        NaN
     10069  1          NaN             NaN        NaN      300.0
...                    ...             ...        ...        ...
2018 379090 1          NaN             NaN        NaN        NaN
     379092 1          NaN             NaN        NaN        NaN
     379094 1          NaN             NaN        NaN        NaN
     379096 1          NaN             NaN        NaN        NaN
     379127 1          NaN             NaN        NaN        NaN

[4752 rows x 124 columns]

In [13]:
Q4_10 = quartiles_by_epc(expend, 2010, 4)
Q4_12 = quartiles_by_epc(expend, 2012, 4)
Q4_15 = quartiles_by_epc(expend, 2015, 4)
Q4_18 = quartiles_by_epc(expend, 2018, 4)
Q4 = pd.concat([Q4_10, Q4_12, Q4_15, Q4_18]).reset_index().drop(columns=['index']).set_index(['t', 'j', 'm']).sort_values(['t','j'])
Q4 = Q4.drop(columns=['Total Expenditures', 'People per HH', 'Expenditures per capita']) 
Q4

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10001  1                      NaN              280.0         NaN     NaN
     10002  1                      NaN              280.0         NaN     NaN
     10004  1                      NaN              180.0         NaN     NaN
     10006  1                      NaN                NaN         NaN     NaN
     10009  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379144 1                      NaN                NaN         NaN   900.0
     379146 1                      NaN             1100.0         NaN     NaN
     379148 1                    100.0                NaN         NaN     NaN
     379151 1                      NaN              900.0         NaN     NaN
     379154 1                    200.0             1200.0         NaN     NaN

i              Avocado pear  Baby milk powder  Bananas    Beef  \
t    j      m
2010 10001  1           NaN               NaN    200.0   500.0
     10002  1           NaN               NaN    180.0  1200.0
     10004  1           NaN               NaN    100.0   500.0
     10006  1           NaN               NaN    300.0   300.0
     10009  1           NaN             600.0    100.0   300.0
...                     ...               ...      ...     ...
2018 379144 1           NaN               NaN    600.0     NaN
     379146 1           NaN               NaN      NaN     NaN
     379148 1           NaN               NaN      NaN   700.0
     379151 1           NaN               NaN    500.0     NaN
     379154 1           NaN               NaN      NaN  1300.0

i              Beer (local and imported)  Biscuits  ...  Sweet Potatoes  \
t    j      m                                       ...
2010 10001  1                      540.0       NaN  ...           150.0
     10002  1                     2000.0       NaN  ...           200.0
     10004  1                        NaN       NaN  ...             NaN
     10006  1                        NaN       NaN  ...             NaN
     10009  1                        NaN       NaN  ...             NaN
...                                  ...       ...  ...             ...
2018 379144 1                        NaN    2200.0  ...             NaN
     379146 1                        NaN       NaN  ...             NaN
     379148 1                        NaN       NaN  ...             NaN
     379151 1                        NaN       NaN  ...             NaN
     379154 1                        NaN       NaN  ...             NaN

i                Tea  Tomato puree(canned)  Tomatoes  Watermelon  Wheat flour  \
t    j      m
2010 10001  1    NaN                 150.0     150.0         NaN          NaN
     10002  1  140.0                 240.0     120.0         NaN          NaN
     10004  1   30.0                  60.0     100.0         NaN          NaN
     10006  1  650.0                   NaN     400.0         NaN          NaN
     10009  1   60.0                 120.0     200.0         NaN          NaN
...              ...                   ...       ...         ...          ...
2018 379144 1    NaN                   NaN     400.0       100.0          NaN
     379146 1    NaN                   NaN       NaN       500.0          NaN
     379148 1    NaN                  60.0     200.0       150.0          NaN
     379151 1    NaN                 150.0     600.0       600.0        750.0
     379154 1    NaN                   NaN     100.0       200.0          NaN

i              White beans  Wild game meat  Yam flour  Yam-roots
t    j      m
2010 10001  1        600.0             NaN        NaN     1500.0
     10002  1        400.0             NaN        NaN     1200.0
     10004  1        100.0             NaN        NaN      400.0
     10006  1          NaN             NaN        NaN      400.0
     10009  1        270.0             NaN        NaN      400.0
...                    ...             ...        ...        ...
2018 379144 1          NaN             NaN     1100.0     3500.0
     379146 1          NaN             NaN        NaN     1800.0
     379148 1          NaN             NaN        NaN     1600.0
     379151 1       1600.0             NaN        NaN     3500.0
     379154 1          NaN             NaN        NaN      650.0

[4752 rows x 124 columns]

## Filter Household Dataframe to create one only including 1st quartile households and another including just 4th quartile households.

In [14]:
#First Quartile
hh_char = hh_char.reorder_levels(['t','j','m'])
Q1Index = Q1.index.tolist()
Q4Index = Q4.index.tolist()
hh_charQ1 = hh_char[hh_char.index.isin(Q1Index)]
hh_charQ4 = hh_char[hh_char.index.isin(Q4Index)]
hh_charQ1

k              M 0-3  M 4-8  M 9-13  M 14-18  M 19-30  M 31-50  M 51+  F 0-3  \
t    j      m
2010 10013  1      0      0       0        0        0        2      0      1
     10022  1      0      1       1        1        0        1      0      0
     10063  1      0      0       0        0        3        0      1      0
     10066  1      0      0       0        1        0        0      1      0
     10069  1      0      0       0        0        1        0      0      0
...              ...    ...     ...      ...      ...      ...    ...    ...
2018 379090 1      1      0       2        0        0        1      0      0
     379092 1      0      0       1        0        1        0      0      2
     379094 1      1      0       0        0        0        1      0      0
     379096 1      0      1       1        1        0        1      0      0
     379127 1      1      0       0        0        0        1      0      0

k              F 4-8  F 9-13  F 14-18  F 19-30  F 31-50  F 51+
t    j      m
2010 10013  1      0       0        1        2        1      1
     10022  1      0       1        0        0        1      0
     10063  1      0       0        0        0        0      1
     10066  1      0       0        2        1        1      0
     10069  1      0       1        1        3        0      1
...              ...     ...      ...      ...      ...    ...
2018 379090 1      1       0        2        0        1      1
     379092 1      2       0        0        2        0      0
     379094 1      1       1        0        1        0      0
     379096 1      1       0        1        1        1      0
     379127 1      0       1        0        1        0      0

[4752 rows x 14 columns]

In [15]:
#Fourth Quartile
hh_charQ4

k              M 0-3  M 4-8  M 9-13  M 14-18  M 19-30  M 31-50  M 51+  F 0-3  \
t    j      m
2010 10001  1      0      0       0        0        1        2      0      1
     10002  1      0      0       1        1        1        1      0      0
     10004  1      0      0       1        0        0        0      1      0
     10006  1      0      0       0        0        1        1      0      0
     10009  1      0      0       0        0        0        1      0      1
...              ...    ...     ...      ...      ...      ...    ...    ...
2018 379144 1      0      0       0        0        0        1      0      0
     379146 1      0      0       0        0        1        1      1      0
     379148 1      0      0       0        0        1        0      0      0
     379151 1      0      0       2        0        0        0      1      0
     379154 1      0      0       0        0        0        0      1      0

k              F 4-8  F 9-13  F 14-18  F 19-30  F 31-50  F 51+
t    j      m
2010 10001  1      0       0        0        1        2      0
     10002  1      0       0        0        2        1      0
     10004  1      0       0        0        0        0      1
     10006  1      0       0        0        1        0      0
     10009  1      0       0        1        1        0      0
...              ...     ...      ...      ...      ...    ...
2018 379144 1      1       0        0        1        0      0
     379146 1      0       0        0        0        0      1
     379148 1      0       0        0        0        0      0
     379151 1      0       0        1        0        1      0
     379154 1      0       0        0        1        0      0

[4752 rows x 14 columns]

In [16]:
#Logged Food Expenditure Dataframe (after running np.log on values)

Q1 = Q1.replace(0,np.nan) 
Q4 = Q4.replace(0,np.nan) 

log_Q1 = np.log(Q1)
log_Q4 = np.log(Q4)

In [17]:
log_Q1

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10013  1                      NaN                NaN         NaN     NaN
     10022  1                      NaN                NaN         NaN     NaN
     10063  1                      NaN                NaN         NaN     NaN
     10066  1                      NaN                NaN         NaN     NaN
     10069  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379090 1                      NaN                NaN         NaN     NaN
     379092 1                      NaN                NaN         NaN     NaN
     379094 1                      NaN                NaN         NaN     NaN
     379096 1                      NaN                NaN         NaN     NaN
     379127 1                      NaN                NaN         NaN     NaN

i              Avocado pear  Baby milk powder   Bananas      Beef  \
t    j      m
2010 10013  1           NaN               NaN  4.605170  5.991465
     10022  1           NaN               NaN  5.010635       NaN
     10063  1           NaN               NaN       NaN       NaN
     10066  1           NaN               NaN       NaN  5.703782
     10069  1           NaN               NaN       NaN       NaN
...                     ...               ...       ...       ...
2018 379090 1           NaN               NaN       NaN  6.214608
     379092 1           NaN               NaN       NaN       NaN
     379094 1           NaN               NaN       NaN       NaN
     379096 1           NaN               NaN       NaN       NaN
     379127 1           NaN               NaN  5.010635       NaN

i              Beer (local and imported)  Biscuits  ...  Sweet Potatoes  \
t    j      m                                       ...
2010 10013  1                        NaN       NaN  ...             NaN
     10022  1                        NaN       NaN  ...             NaN
     10063  1                        NaN       NaN  ...             NaN
     10066  1                        NaN       NaN  ...             NaN
     10069  1                        NaN       NaN  ...             NaN
...                                  ...       ...  ...             ...
2018 379090 1                        NaN       NaN  ...             NaN
     379092 1                        NaN       NaN  ...             NaN
     379094 1                        NaN  4.787492  ...             NaN
     379096 1                        NaN       NaN  ...             NaN
     379127 1                        NaN       NaN  ...             NaN

i                   Tea  Tomato puree(canned)  Tomatoes  Watermelon  \
t    j      m
2010 10013  1  3.401197              4.094345  4.605170         NaN
     10022  1       NaN              3.401197  3.912023         NaN
     10063  1       NaN              3.555348  4.605170         NaN
     10066  1       NaN              3.555348  4.605170         NaN
     10069  1       NaN                   NaN  4.605170         NaN
...                 ...                   ...       ...         ...
2018 379090 1       NaN                   NaN  5.298317         NaN
     379092 1  3.912023                   NaN       NaN         NaN
     379094 1       NaN                   NaN  5.521461         NaN
     379096 1       NaN                   NaN  5.703782         NaN
     379127 1       NaN              5.857933       NaN    5.298317

i              Wheat flour  White beans  Wild game meat  Yam flour  Yam-roots
t    j      m
2010 10013  1          NaN     4.605170             NaN        NaN   5.298317
     10022  1          NaN     5.298317             NaN        NaN        NaN
     10063  1          NaN          NaN             NaN        NaN        NaN
     10066  1          NaN     4.605170             NaN        NaN        NaN
     10069  1          NaN          NaN             NaN        NaN   5.703782
...                    ...          ...             ...        ...        ...
2018 379090 1          NaN          NaN             NaN        NaN        NaN
     379092 1          NaN          NaN             NaN        NaN        NaN
     379094 1          NaN          NaN             NaN        NaN        NaN
     379096 1          NaN          NaN             NaN        NaN        NaN
     379127 1          NaN          NaN             NaN        NaN        NaN

[4752 rows x 124 columns]

In [18]:
#Log Household Size and add to household dataframe for Q1 and Q4

# set index to j, t, m so that df.sum() ignore index values
hh_charQ1 = hh_charQ1.reset_index()
hh_charQ1.set_index(['j','t','m'], inplace=True)
hh_charQ4 = hh_charQ4.reset_index()
hh_charQ4.set_index(['j','t','m'], inplace=True)

# create new column of household size
hh_charQ1['Hsize'] = hh_charQ1.sum(axis=1).values
hh_charQ4['Hsize'] = hh_charQ4.sum(axis=1).values

# remove erroneous data with household_size = 0
hh_charQ1 = hh_charQ1[hh_charQ1['Hsize'] > 0]
hh_charQ4 = hh_charQ4[hh_charQ4['Hsize'] > 0]

# create new column 'log Hsize'
hh_charQ1['log Hsize'] = np.log(hh_charQ1['Hsize'])
hh_charQ4['log Hsize'] = np.log(hh_charQ4['Hsize'])

# remove Hsize column
hh_charQ1 = hh_charQ1.drop(columns=['Hsize']) 
hh_charQ4 = hh_charQ4.drop(columns=['Hsize'])

In [24]:
#test
hh_charQ1

,,k,M 0-3,M 4-8,M 9-13,M 14-18,M 19-30,M 31-50,M 51+,F 0-3,F 4-8,F 9-13,F 14-18,F 19-30,F 31-50,F 51+,log Hsize
j,t,m,,,,,,,,,,,,,,,
10013,2010,1,0,0,0,0,0,2,0,1,0,0,1,2,1,1,2.079442
10022,2010,1,0,1,1,1,0,1,0,0,0,1,0,0,1,0,1.791759
10063,2010,1,0,0,0,0,3,0,1,0,0,0,0,0,0,1,1.609438
10066,2010,1,0,0,0,1,0,0,1,0,0,0,2,1,1,0,1.791759
10069,2010,1,0,0,0,0,1,0,0,0,0,1,1,3,0,1,1.945910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379090,2018,1,1,0,2,0,0,1,0,0,1,0,2,0,1,1,2.197225
379092,2018,1,0,0,1,0,1,0,0,2,2,0,0,2,0,0,2.079442
379094,2018,1,1,0,0,0,0,1,0,0,1,1,0,1,0,0,1.609438
379096,2018,1,0,1,1,1,0,1,0,0,1,0,1,1,1,0,2.079442
379127,2018,1,1,0,0,0,0,1,0,0,0,1,0,1,0,0,1.386294

## Estimation

With nothing more than this, we can estimate the demand system.  This
happens in two steps.  The first is the &ldquo;reduced form&rdquo; step:

In [31]:
log_Q1

i              (Cocoyam, Spinach, etc)  Agricultural eggs  Animal fat  Apples  \
t    j      m
2010 10013  1                      NaN                NaN         NaN     NaN
     10022  1                      NaN                NaN         NaN     NaN
     10063  1                      NaN                NaN         NaN     NaN
     10066  1                      NaN                NaN         NaN     NaN
     10069  1                      NaN                NaN         NaN     NaN
...                                ...                ...         ...     ...
2018 379090 1                      NaN                NaN         NaN     NaN
     379092 1                      NaN                NaN         NaN     NaN
     379094 1                      NaN                NaN         NaN     NaN
     379096 1                      NaN                NaN         NaN     NaN
     379127 1                      NaN                NaN         NaN     NaN

i              Avocado pear  Baby milk powder   Bananas      Beef  \
t    j      m
2010 10013  1           NaN               NaN  4.605170  5.991465
     10022  1           NaN               NaN  5.010635       NaN
     10063  1           NaN               NaN       NaN       NaN
     10066  1           NaN               NaN       NaN  5.703782
     10069  1           NaN               NaN       NaN       NaN
...                     ...               ...       ...       ...
2018 379090 1           NaN               NaN       NaN  6.214608
     379092 1           NaN               NaN       NaN       NaN
     379094 1           NaN               NaN       NaN       NaN
     379096 1           NaN               NaN       NaN       NaN
     379127 1           NaN               NaN  5.010635       NaN

i              Beer (local and imported)  Biscuits  ...  Sweet Potatoes  \
t    j      m                                       ...
2010 10013  1                        NaN       NaN  ...             NaN
     10022  1                        NaN       NaN  ...             NaN
     10063  1                        NaN       NaN  ...             NaN
     10066  1                        NaN       NaN  ...             NaN
     10069  1                        NaN       NaN  ...             NaN
...                                  ...       ...  ...             ...
2018 379090 1                        NaN       NaN  ...             NaN
     379092 1                        NaN       NaN  ...             NaN
     379094 1                        NaN  4.787492  ...             NaN
     379096 1                        NaN       NaN  ...             NaN
     379127 1                        NaN       NaN  ...             NaN

i                   Tea  Tomato puree(canned)  Tomatoes  Watermelon  \
t    j      m
2010 10013  1  3.401197              4.094345  4.605170         NaN
     10022  1       NaN              3.401197  3.912023         NaN
     10063  1       NaN              3.555348  4.605170         NaN
     10066  1       NaN              3.555348  4.605170         NaN
     10069  1       NaN                   NaN  4.605170         NaN
...                 ...                   ...       ...         ...
2018 379090 1       NaN                   NaN  5.298317         NaN
     379092 1  3.912023                   NaN       NaN         NaN
     379094 1       NaN                   NaN  5.521461         NaN
     379096 1       NaN                   NaN  5.703782         NaN
     379127 1       NaN              5.857933       NaN    5.298317

i              Wheat flour  White beans  Wild game meat  Yam flour  Yam-roots
t    j      m
2010 10013  1          NaN     4.605170             NaN        NaN   5.298317
     10022  1          NaN     5.298317             NaN        NaN        NaN
     10063  1          NaN          NaN             NaN        NaN        NaN
     10066  1          NaN     4.605170             NaN        NaN        NaN
     10069  1          NaN          NaN             NaN        NaN   5.703782
...                    ...          ...             ...        ...        ...
2018 379090 1          NaN          NaN             NaN        NaN        NaN
     379092 1          NaN          NaN             NaN        NaN        NaN
     379094 1          NaN          NaN             NaN        NaN        NaN
     379096 1          NaN          NaN             NaN        NaN        NaN
     379127 1          NaN          NaN             NaN        NaN        NaN

[4752 rows x 124 columns]

In [32]:
import cfe

result1 = cfe.Result(y=log_Q1,z=hh_charQ1, min_xproducts = 10)
#result4 = cfe.Result(y=log_Q4,z=hh_charQ4)

This creates a complicated &ldquo;Result&rdquo; object, with lots of different
attributes.  Note from below that attributes $y$ and $z$ are now defined.

In [34]:
result1

<xarray.Result>
Dimensions:           (k: 15, j: 3197, t: 4, m: 1, i: 19)
Coordinates:
  * j                 (j) int64 10005 10009 10013 10022 ... 379094 379096 379127
  * t                 (t) int64 2010 2012 2015 2018
  * m                 (m) int64 1
  * i                 (i) <U36 '(Cocoyam, Spinach, etc)' 'Beef' ... 'Yam-roots'
  * k                 (k) <U9 'M 0-3' 'M 4-8' 'M 9-13' ... 'F 51+' 'log Hsize'
Data variables: (12/20)
    alpha             object None
    beta              object None
    delta             object None
    prices            object None
    characteristics   (k, j, t, m) float64 nan nan nan 0.0 ... nan nan nan 1.386
    loglambdas        object None
    ...                ...
    se_beta           object None
    se_alpha          object None
    se_a              object None
    y                 (i, t, j, m) float64 nan nan nan nan ... nan nan nan nan
    logp              object None
    z                 (k, j, t, m) float64 nan nan nan 0.0 ... nan nan nan 1.386
Attributes:
    firstround:            2010
    min_proportion_items:  0.125
    min_xproducts:         10
    all_tm:                True
    common_alpha:          True
    useless_expenditures:  False
    stderr_tol:            0.01
    indices:               Indices(j='j', t='t', m='m', i='i', k='k')
    iterate:               False
    verbose:               False

### First step of Estimation

Recall that there are two steps to estimation; the first step
involves estimating the &ldquo;reduced form&rdquo; linear regression 
$$
y_{it}^j = {a}_{it} + \delta_i'{z}^j_t + \epsilon_{it}^j.
$$

The Result class has code to estimate this in one line:

In [35]:
result1.get_reduced_form()
#result4.get_reduced_form()

AssertionError:

After running this we can examine the estimated coefficients $\delta$:

In [29]:
result1.delta.to_dataframe().unstack('k')
result4.delta.to_dataframe().unstack('k')

ValueError: cannot convert a scalar to a DataFrame

Also the good-time constants $a_{it}$ (this captures the effects of prices)

In [ ]:
result1.a.to_dataframe().unstack('i')

### Second step of Estimation

The second step involves using Singular Value Decomposition to find
the rank one matrix that best approximates the residuals $e_{it}^j$.
This can be interpreted as
$$
    -\beta_i\log\lambda^j_t,
$$
where the $\log\lambda^j_t$ is the log of the marginal utility of
expenditures (MUE) for household $j$ at time $t$, and where $\beta_i$ are
the corresponding &ldquo;Frisch elasticities&rdquo; that tell us how much
demand changes as the MUE falls.

Estimates can also be computed as a one-liner:

In [ ]:
result1.get_beta(as_df=True)

That&rsquo;s all there is to estimation!  Note that we didn&rsquo;t estimate
demands for all goods&#x2014;lots of goods didn&rsquo;t have enough observations,
and were automatically dropped.  (This can be controlled using the
`min_proportion_items` and `min_xproducts` attributes when one
instantiates the result object.)

### Assessment of Fit

Now, let&rsquo;s see how we did, by comparing total expenditures predicted by the
model we&rsquo;ve estimated with actual total expenditures:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.cm as cm

xbar = np.exp(result.y).sum(['m','i']).to_dataframe('xbar').replace(0,np.nan).squeeze()
xhat = result.get_predicted_expenditures().sum(['m','i']).to_dataframe('xhat').replace(0,np.nan).squeeze()

# Make dataframe of actual & predicted
df = pd.DataFrame({'Actual':np.log(xbar),'Predicted':np.log(xhat)})

df.plot.scatter(x='Predicted',y='Actual')

# Add 45 degree line
v = plt.axis()
vmin = np.max([v[0],v[2]])
vmax = np.max([v[1],v[3]])
plt.plot([vmin,vmax],[vmin,vmax])